body {
  background: black;
}

.clock {
  position: relative;
  text-align: center;
  font-size: 60px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 7px;
}

.text1 {
  position: relative;
  text-align: center;
  font-size: 50px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 7px;
}

.text2 {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 7px;
  margin-right: 100px;
  margin-left: 100px;
}

 img {
     margin-top: 120px;
     width: 17%;
}

.text-red {
  color: #F03D3D !important 
}

.text-yellow {
  color: #f0d53d !important 
}

.text-orange {
  color: #eb791b !important 
}

.text-purple {
  color: #823df0 !important 
}

#myClock
{
	padding: 3px;
}

.clockFrame
{
    padding:50px;
    color:rgb(255, 255, 255);
    display:inline;
    background-color: rgb(232, 139, 51);
    font-weight:bold;
    font-family: "Verdana", Arial;
    border:solid 10px #ff5e00;
}
